@*<div class="side_block"></div>*@
<div class="width--layout">
    <div class="aside_tag">
        <aside class="top_layout" aria-label="header-promotion-area">
            <div class="main_aside">

                <ul class="nav nav-breadcrumb">
                    <li class="nav-item">
                        <a href="~/Views/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/">Instagram</a>
                    </li>


                </ul>

            </div>
        </aside>
    </div>
</div>

<div class="width--layout">
    <div class="layout_page layout_page_nosidebar">
        <main class="layout_main">
          <div class="row">
            <h1> Shop Instagram!</h1>

            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-401d3dce-1eb5-4186-8fd2-dee526347f3d"></div>

           </div>


        </main>
        
    </div>
</div>