<footer class="layout_footer">

    <div class="width--layout">



        <!-------grid--------->
        <div class="footer_grid">

            <section class="col-md-6">
                <p class="footer_section_title">Like Being First?</p>

                <form method="post" action="#">
                    <div class="email_signup_container col-md-6">
                        <input type="text" placeholder="enter your email address" name="Email" class="text_Input Default_Text" />
                        <input type="submit" class="button_css Default_Text" value="Sign up Now" />
                    </div>
                </form>

            </section>

            <section class="col-md-6 social_layoutNav">
                <p class="footer_section_title second_footer_section_title">Stay Connected</p>

                <ul class="nav section_nav ">

                    <li class="nav_item nav_item_pinterest">
                        <a class="nav_link" href="//www.pinterest.com/mudpiegift" target="_blank" title="Pinterest">
                            <span class="fa fa-pinterest-square"></span>Pinterest
                        </a>
                    </li>
                    <li class="nav_item nav_item_instagram">
                        <a class="nav_link" href="//www.instagram.com/mudpiegift" target="_blank" title="Instagram">

                            <span class="fa fa-instagram"></span>Instagram
                        </a>
                    </li>
                    <li class="nav_item nav_item_facebook">
                        <a class="nav_link" href="//www.facebook.com/mudpiegift" target="_blank" title="Facebook">
                            <span class="fa fa-facebook-square"></span>Facebook
                        </a>
                    </li>
                    <li class="nav_item nav_item_twitter">
                        <a class="nav_link" href="//www.twitter.com/mudpiegift" target="_blank" title="Twitter">
                            <span class="fa fa-twitter-square"></span>Twitter
                        </a>
                    </li>
                    <li class="nav_item nav_item_">
                        <a class="nav_link" href="#" target="_blank" title="Blog">
                            <span class="fa fa-rss-square"></span>Blog
                        </a>
                    </li>
                    <li class="nav_item nav_item_snapchat">
                        <a class="nav_link" href="#" target="_blank" title="SnapChat">
                            <span class="fa fa-snapchat-square"></span>SnapChat
                        </a>
                    </li>
                </ul>

                <p class="socialHandles"> @@mudpiegift | #mudpiegift</p>

            </section>

        </div>


        <!--------footer_last_nav-------->

        <nav class="layout_footerNav" role="navigation">

            <!---First col-->

            <div class="footerNav_col">
                <p class="footer_link_title">
                    Customer Care
                </p>

                <ul class="nav lg_navs_last">

                    <li class="nav_item">
                        <a class="nav_link" href="#">Contact Us</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">My Account</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Ordering+Shipping</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Returns</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Q&A's</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Affiliate Program</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Find a Retailer</a>
                    </li>
                </ul>

            </div>

            <!---Second col-->
            <div class="footerNav_col ">

                <p class="footer_link_title">
                    About Mud Pie
                </p>

                <ul class="nav lg_navs_last">

                    <li class="nav_item">
                        <a class="nav_link" href="#">Our Story</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">As Seen In</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Press Release</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Careers</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Awards+Recognition</a>
                    </li>

                    <li class="nav_item">
                        <a class="nav_link" href="#">Inspired By Mud Pie</a>
                    </li>

                    <li class="nav_item whole_Button_style">
                        <a class="nav_link" href="/wholesale/">Wholesale</a>
                    </li>
                </ul>

            </div>

            <!----Third col-->
            <div class="footerNav_col footer_last_col_nav">

                <ul class="nav nav_seperators">

                    <li class="nav_item">
                        <a class="nav_link" href="#">Terms & Conditions</a>
                    </li>
                    <li class="nav_item">
                        <a class="nav_link" href="#">Privacy & Security</a>
                    </li>
                    <li class="nav_item">
                        <a class="nav_link" href="#">Site Map</a>
                    </li>

                </ul>

                <p class="layout_copy">© 2017 Mud Pie. All rights reserved.</p>
            </div>
        </nav>





    </div>

</footer>
