


<header class="layout_header" role="banner">

    <a class="SkiptoContent" href="#" tabindex="1">Skip To Content</a>

    <!---header paragraph And CMS-->
    <div class="header_paragraph">
        <p class="paragraph_content">Free Shipping On Orders Of $50</p>
    </div>
    <aside class="layout_cms" aria-label="Header cms top section">
        <div class="grid">
            <div class="block block--standard xs-12">
                <div class="wysiwyg_block wysiwyg">
                    <p><strong>$25 Order Minimum Required</strong></p>
                </div>
            </div>

        </div>
    </aside>

    <div class="layout_headerContent">
        <!---first header block-->
        <div class="layout_mobileHeader">
            <div class="width--layout">
                <!--------cart_link-->
                <div class="header_cart">
                    <!---cart_link First Block-->
                    <a class="headerCart_link" href="#">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="headerCart_linkText">My Cart</span>
                        <span class="minicart_countWrap">
                            <span class="miniCart_count">0</span>
                        </span>
                    </a>
                    <!---cart_link Second Block-->
                    <div class="minicart">
                        <a class="miniCart_Toggle" href="#" role="button">

                        </a>
                        <!--after css for download icon-->
                        @*<aside class="minicart_dropdown" aria-hidden="true">

                            <!---heading-->
                            <div class="minicart_heading">
                                <h5 class="minicart_title">
                                    My Cart

                                    <span class="miniCart_counter">
                                        <span class="miniCart_count">0</span>
                                    </span>
                                </h5>
                            </div>

                            <!---content-->
                            <div class="minicart_content">

                                <span class="minicart_loader">
                                    <i class="fa fa-spinner"></i>
                                </span>


                            </div>

                            <!----Info-->
                            <div class="minicart_info">
                                SubTotal

                                <span class="minicart_subtotal">$ 0.00</span>


                            </div>

                            <!------actions-->
                            <div class="minicart_actions">

                                <a href="#" class="minicart_checkout button">Checkout</a>

                                <a href="#" class="minicart_ViewCart button">ViewCart</a>

                            </div>


                        </aside>*@


                    </div>

                    

                </div>
                <!-----logo link-->
                <a class="layout_logo" href="/">
                    <h1 class="hide">Mud Pie</h1>
                    <img class="layout_logoImage" src="~/Content/Images/logo.png" alt="Mud-Pie Logo" />
                </a>


                <!----------Search Form-->
                <form class="search search_header">
                    <input type="checkbox" id="search-switcher" hidden />

                    <input type="search" class="page-search-field" />

                    <label for="search-switcher" class="page-search-label">
                        <i class="fas fa-search"></i>
                    </label>
                </form>
            </div>





        </div>

        <!--navigation's Block-->
        <div class="canvasMenu" role="dialog" aria-hidden="true">

            <div class="layout_utility_nav" role="navigation">
                <!--wrapper-->
                <nav class="quick_nav" role="navigation">

                    <h1 class="hide">Quick Links</h1>

                    <ul class="nav_quick_utility nav">
                        <li class="nav_item"><a class="nav_link" href="/instagram/">shop instagram</a></li>
                        <li class="nav_item"><a class="nav_link" href="#">blog</a></li>
                        <li class="nav_item"><a class="nav_link" href="#">customer care</a></li>
                        <li class="nav_item"><a class="nav_link" href="">sign In</a></li>
                    </ul>

                </nav>
            </div>


            <nav id="navigation" class="layout_primary_nav">

                <h1 class="hide">Navigation</h1>
                <div class="quick_nav">

                    <ul class="nav lg_nav_uniform">

                        <li class="nav_item nav_item_expands"><a href="#" class="a nav_link"><span>Baby & Kids</span></a></li>
                        <li class="nav_item nav_item_expands"><a href="#" class="nav_link"><span>Women</span></a></li>
                        <li class="nav_item nav_item_expands"><a href="#" class="nav_link"><span>Home</span></a></li>
                        <li class="nav_item nav_item_expands"><a href="#" class="nav_link"><span>Seasonal</span></a></li>
                        <li class="nav_item nav_item_expands"><a href="#" class="nav_link"><span>Gift Shop</span></a></li>
                        <li class="nav_item nav_item_expands"><a href="#" class="nav_link"><span>Sale</span></a></li>
                    </ul>

                </div>
            </nav>

        </div>
    </div>



</header>
